[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/kkretzschmar
[access "refs/for/refs/*"]
	read = group user/kkretzschmar
	push = group user/kkretzschmar
	label-Code-Review = -2..+2 group user/kkretzschmar
	label-Verified = -1..+1 group user/kkretzschmar
	rebase = group user/kkretzschmar
	removeReviewer = group user/kkretzschmar
	submit = group user/kkretzschmar
[access "refs/heads/*"]
	read = group user/kkretzschmar
	create = group user/kkretzschmar
	push = +force group user/kkretzschmar
	pushMerge = group user/kkretzschmar
[access "refs/tags/*"]
	push = +force group user/kkretzschmar
	pushTag = group user/kkretzschmar
	pushSignedTag = group user/kkretzschmar
